*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #141922;
}

.content{
    display: flex;
}

/* Utility */

.mb10{
    margin-bottom: 10px;
}

.mbl20{
    margin-left: 20px;
}

/* Header */

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    background-color: #080b1294;
    width: 100%;
    height: 10vh;
    padding-right: 50px;
}

header a{
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 20px;
}

header a:hover{
    padding: 10px 55px;
}

/* Navbar */

.navbar-left{
    position: relative;
    flex-shrink: 0;
    height: calc(100vh - 10vh);
    width: 25vh;
    background-color: #000;
}

.navbar-left ul li a:hover{
    color: #fff;
}

.logo{
    padding: 30px;
}

.settings li{
    display: flex;
}

.list-item .cw{
    color: #fff;
}

.settings li a{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #6e6e6e;
    text-decoration: none;
    font-weight: 600;
    padding-left: 25px;
}

.bdg{
    border-left: 3px solid #adff2f;
}

.settings img{
    width: 35px;
}

.playlist{
    margin-top: 20px;
}

.playlist-content{
    padding-top: 10px;
}

.playlist h3{
    color: #fff;
    padding-left: 25px;
}

.playlist i{
    font-size: 45px;
    padding-right: 10px;
    color: #a3a3a3;
}

.name-playlist{
    line-height: 35px;
}

.download{
    position: absolute;
    bottom: 65px;
    width: 100%;
}

.download li a{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #6e6e6e;
    text-decoration: none;
    font-weight: 600;
    padding-left: 20px;
}

.download img{
    width: 20px;
    margin-right: 10px;
}

.line{
    height: 1px;
    width: 80%;
    background-color: #a3a3a3;
    margin-left: 25px;
    margin-top: 10px;
}

.account{
    position: absolute;
    margin-bottom: 10px;
    padding-top: 15px;
}

.account img{
    width: 35px;
    background-color: #808080;
    border-radius: 20px;
    margin-right: 10px;
}

.account li a{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

/* Main */

main{
    padding: 115px 20px 0 30px;
    width: 100%;
    height: 90vh;
    overflow-y: auto;
}

.nav-list{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.nav-list li{
    padding: 10px 20px;
}

.nav-list li a{
    color: grey;
    text-decoration: none;
}

.nav-list a:hover{
    color: #fff;
}

/* Album */

.playlist-album{
    margin: 50px 0;
}

.playlist-album h3{
    margin-left: 20px;
    font-size: 20px;
    color: #fff;

}

.album{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.album a{
    display: flex;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.album a span{
    font-size: 13px;
    color: #6e6e6e;
}

.album li{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px;
    width: 200px;
}

.album li p{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}

.album li span{
    font-size: 13px;
    color: #6e6e6e;
    padding-top: 10px;

}

.album img{
    width: 100%;
    display: block;
}

.cover-image{
    position: relative;
    display: block;
}

.cover-image:hover .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
}

.icon-hover{
    display: none;
}

.cover-image:hover .icon-hover{
    position: absolute;
    display: block;
    font-size: 60px;
    width: 100%;
    height: 100%;
}

.cover-image:hover .icon-hover i{
    transform: translate(0%, 100%);
}

.album-jhon{
    display: flex;
    flex-wrap: wrap;
}

.playlist-album p{
    padding-top: 20px;
    color: #6e6e6e;
}

.album-jhon a{
    display: flex;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.album-jhon li{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px;
    width: 200px;
}

.album-jhon li p{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}

.album-jhon img{
    width: 200px;
}

.artists{
    display: flex;
    flex-wrap: wrap;
}

.artists a{
    display: flex;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.artists li{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px;
    width: 200px;
}

.artists li p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.artists img{
    width: 200px;
    border-radius: 50%;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 10vh;
    width: 100%;
    padding: 0 20px;
    background-color: #282828;
}

/* Footer left */

.footer-left{
    display: flex;
}

.song{
    display: flex;
    align-items: center;
}

.song img{
    width: 65px;
}

.name-song{
    padding-left: 10px;
}

.name-song h4{
    color: #fff;
    font-weight: 600;
}

.name-song p{
    color: #6e6e6e;
    font-weight: 600;
    font-size: 13px;
}

.icon{
    display: flex;
    align-items: center;
    padding-left: 45px;
    color: #6e6e6e;
}

.icon i{
    padding-right: 10px;
}

/* Footer center */

.footer-center{
    width: 25%;
}

.icon-player{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: #fff;
}

.icon-player i{
    font-size: 25px;
    padding-right: 25px;
}

.progress-bar{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.progress-bar p{
    color: #fff;
    font-size: 13px;
    padding: 0 10px;
}

.progress{
    width: 90%;
    height: 5px;
    background-color: #6e6e6e;
    border-radius: 20px;
}

.line-up{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 5px;
    background-color: #fff;
    border-radius: 20px;
}

.line-up:hover{
    background-color: #1ed760;
}

.line-up:hover .point{
    background-color: #fff;
    height: 15px;
    width: 15px;
    border-radius: 20px;
}

/* Footer right */

.footer-right{
    display: flex;
    align-items: center;
    width: 200px;
}

.icon-sound{
    display: flex;
    color: #fff;
}

.icon-sound i{
    padding-right: 10px;
}

/* Responsive */

@media screen and (max-width: 1024px){
    main {
        padding: 170px 20px 0 30px;
    }
}
.logo-small{
    display: none;
}

@media screen and (max-width: 450px){
    header{
        padding-right: 0;
    }
    header a {
        font-size: 13px;
        padding: 10px 25px;
    }
    main {
        padding: 100px 25px 0 5px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
        padding: 8px;
    }
    .playlist{
        display: none;
    }
    .bdg{
        border: none;
    }
    .navbar-left{
        width: 50px;
    }
    .nav-list li a {
        color: grey;
        text-decoration: none;
        font-size: 13px;
    }
    .list-item{
        padding: 8px;
    }
    .nav-list li {
        padding: 10px 5px;
    }
    .list-item li a p{
        display: none;
    }
    .settings li {
        display: flex;
        justify-content: end;
    }
    .download li a p{
        display: none;
    }
    .album li p{
        font-size: 13px;
    }
    .line{
        display: none;
    }
    .account{
        display: flex;
        justify-content: right;
        position: relative;
        margin-right: -4px;
    }
    .account li a p{
        display: none;
    }
    .album li {
        width: 100px;
    }
    .album img {
        width: 113px;
    }
    .download li a{
        padding-left: 14px;
    }
    .album-jhon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .artists{
        justify-content: center;
    }
    footer{
        padding: 0 5px;
    }
    .song img {
        width: 35px;
    }
    .name-song h4 {
        font-size: 13px;
    }
    .name-song p {
        font-size: 11px;
    }
    .icon{
        padding-left: 0px;
    }
    .icon-player i {
        font-size: 15px;
        padding-right: 15px;
    }
    .footer-center {
        width: 42%;
    }
    .progress-bar p {
        font-size: 11px;
    }
    .icon-sound {
        display: flex;
        flex-direction: column;
    }
    .icon-sound i{
        padding-top: 5px;
    }
}